@layout WebHtmlLayout
@page "/about"
<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">ABOUT US </h1>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-2-about" id="sec-4117" data-image-width="2000" data-image-height="1333">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-align-center u-text u-text-1">OUR VALUES</h2>
                                <ul class="u-align-justify-xl u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-custom-list u-spacing-10 u-text u-text-2">
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div> We are a Bible-based, Holy Spirit filled Christian church located in Pinetown, Durban, KZN, South Africa.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>Our message is the grace, love and power of God.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>Our vision is to be an authentic, effective, multi-ethnic, multi-generational, multiplying family.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>We love to live our lives together and build the Kingdom of God together as a community on mission.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>We love to worship God, pray and prophesy, journeying with the Holy Spirit in the presence of God.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>We love to see individuals and families come alive, restored and functioning as part of an integrated body.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>If you spend time with us and feel authentically embraced, spurred onto God's purpose for your life, and an increase in joyful connection to God, his goodness and presence, then we've hit the mark!
                                    </li>
                                </ul><span class="u-file-icon u-icon u-text-grey-25 u-icon-1 "><i class="fa-solid fa-arrows-down-to-line fa-3x"></i></span>
                                <h2 class="u-align-center u-text u-text-3">OUR LEADERSHIP</h2>
                                <ul class="u-align-justify-xl u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-custom-list u-spacing-10 u-text u-text-4">
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div> Dwell church is an autonomous local church with authentic apostolic relationships.&nbsp;
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>We believe that authority in the local church is held by elders and deacons.&nbsp;
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>We believe that churches grow best as we are equipped by Ephesians 4 ministry gifts.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>Internationally we are vitally connected to Rob &amp; Glenda Rufus and the In Resonance 360 group of churches.&nbsp;
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-2-base">
                                            <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2e70"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                                        </div>Locally we are vitally connected to Ryan &amp; Melissa Matthews and the Calalyst Connect group of churches
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="470" data-image-height="415">
                                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div>
        <WebFooter />
    </div>
</body>


@code {

}

