@layout WebHtmlLayout
@page "/contact"

<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">CONTACT</h1>
        </div>
    </section>   
    <section class="u-clearfix u-expanded-width-xl u-image u-section-1-contact" id="carousel_ac00" data-image-width="1280" data-image-height="853">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-palette-2-base u-radius-25 u-shape-round u-size-27-lg u-size-27-xl u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h6 class="u-text u-text-default u-text-1">WE'D LOVE TO HEAR FROM YOU</h6>
                                <p class="u-text u-text-2">
                                    <a href="tel:+27 82 464 8527" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1 u-text-white">+27 82 464 8527</a>
                                    <br><i></i>
                                    <a href="mailto:shelley@dwell.org.za" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2 u-text-white">shelley@dwell.org.za</a>
                                    <br>Sunday service: 9:30 am<br>
                                    <a href="https://goo.gl/maps/mU23pL6mHUKMbJe88" target="_blank">
                                        <i class="fa-solid fa-location-dot fa-1x"></i>
                                    </a>&nbsp;65 St Johns Ave, Pinetown.
                                    <br>&nbsp&nbsp Entrance opposite Checkers,
                                    <br>&nbsp&nbsp Nisbett Rd (1st floor).<br>
                                </p>
                                <h2 class="u-text u-text-default u-text-3">Follow us</h2>
                                <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
                                    <a class="u-social-url" target="_blank" href="https://facebook.com/facebook.com">
                                        <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-text-white u-icon-1">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-87ce"></use></svg>
                                            <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-87ce" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg>
                                        </span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href="https://www.instagram.com/dwellchurchsa/" title="instagram.com/dwellchurchsa">
                                        <span class="u-icon u-icon-circle u-social-icon u-social-instagram u-text-white u-icon-2">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-694e"></use></svg>
                                            <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-694e" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg>
                                        </span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href="https://www.youtube.com/channel/UCMgyvesQfJcAhmpun68NQPw" title="youtube Dwell Media">
                                        <span class="u-file-icon u-icon u-social-icon u-social-pinterest u-text-white u-icon-3 "> <i class="fa-brands fa-youtube fa-2x"></i></span>
                                    </a>
                                    @*<a class="u-social-url" target="_blank" href="https://wa.me/27824648527" title="Whatsapp">
                                            <span class="u-file-icon u-icon u-social-icon u-social-pinterest u-text-white u-icon-3 "> <i class="fa-brands fa-whatsapp fa-2x"></i></span>
                                        </a>*@
                                </div>
                                <p class="u-text u-text-4">©2022 Privacy policy</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30-md u-size-30-sm u-size-30-xs u-size-33-lg u-size-33-xl u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <div class="u-expanded-width-xs u-form u-radius-25 u-white u-form-1">
                                    <form action="#" method="POST" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 30px;" source="custom" name="form">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-3b9a" class="u-form-control-hidden u-label" wfd-invisible="true">Name</label>
                                            <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-3 u-border-grey-25 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="emessage-3b9amail-3b9a" class="u-form-control-hidden u-label" wfd-invisible="true">Email</label>
                                            <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-3 u-border-grey-25 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="">
                                        </div>
                                        <div class="u-form-group u-form-message">
                                            <label for="" class="u-form-control-hidden u-label" wfd-invisible="true">Message</label>
                                            <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-3 u-border-grey-25 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3" required=""></textarea>
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <a href="#" class="u-active-palette-2-light-1 u-border-none u-btn u-btn-round u-btn-submit
                                                    u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-20  
                                                  u-text-body-color u-text-hover-white u-btn-3">Submit</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message has been sent. </div>
                                        <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your message. Please fix errors then try again. </div>
                                        <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <WebFooter />
    </div>
</body>


@code {

}
