@layout WebHtmlLayout
@page "/engage"


<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">ENGAGE</h1>
        </div>
    </section>   
    <section class="u-clearfix u-palette-2-base u-section-1-engage" id="sec-1835">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1213" data-image-height="687">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-default u-text-1">ENGAGE</h2>
                                <p class="u-text u-text-2">
                                    We invite you to engage with us in one or more of our ministries.&nbsp; Contact us for more information.<br>
                                    <br>Kids ministry<br>Ladies ministry<br>Corporate prayer<br>Music and media teams<br>Serving teams<br>Destiny Finder groups
                                    <br>Bible College 10 - 12 every Wednesday Morning
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div>
        <WebFooter />
    </div>
</body>


@code {

}
