@layout WebHtmlLayout
@page "/gallery"


<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">GALLERY</h1>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-3-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-31ff">
                        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
                            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
                                <!-- Gallery -->
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/child.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4"/>

                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/prophecy.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4"/>
                                    </div>
                                    <div class="col-lg-4 mb-4 mb-lg-0">
                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/Gareth preaching.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4"/>

                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/prayer.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4"/>
                                    </div>
                                    <div class="col-lg-4 mb-4 mb-lg-0">
                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/christmas.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4" />

                                        <img src="_content/Blazor.AdminLte.Site.Shared/dist/img/images/child.jpg"
                                             class="w-100 shadow-1-strong rounded mb-4" />
                                    </div>
                                </div>
                                <!-- Gallery -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</body>



