@layout WebHtmlLayout
@page "/giving"

<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">GIVING</h1>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-3-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="entry-content clearfix" >
                                    <blockquote>
                                        <p>&#8220;I thank my God in all my remembrance of you, 4 always in every prayer of mine for you all making my prayer with joy, 5 because of your partnership in the gospel from the first day until now.&#8221; Phil. 1:3-5</p>
                                    </blockquote>
                                    <div class="list-group list-group-flush">
                                        <blockquote>
                                        Dwell Church Bank Account Details:
                                        <br />
                                        First National Bank
                                        <br />
                                        Branch Code: 250 655
                                        <br />
                                        Account No.: 62753951782
                                         </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style " data-image-width="1213" data-image-height="687">
                            <div class="u-container-layout u-container-layout-1">
                                <figure class="wp-block-image size-large is-resized"><img src="_content/Blazor.AdminLte.Site.Shared/dist/img/Dwell-Church-zapper-code-690x1024.jpg" alt="" class="wp-image-415" width="301" height="446" srcset="_content/Blazor.AdminLte.Site.Shared/dist/img/Dwell-Church-zapper-code-690x1024.jpg 690w,_content/Blazor.AdminLte.Site.Shared/dist/img/Dwell-Church-zapper-code-202x300.jpg 202w,_content/Blazor.AdminLte.Site.Shared/dist/img/Dwell-Church-zapper-code-768x1140.jpg 768w,_content/Blazor.AdminLte.Site.Shared/dist/img/Dwell-Church-zapper-code.jpg 1009w" sizes="(max-width: 301px) 100vw, 301px" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<div>
    <WebFooter />
</div>


@code {

}