@layout WebHtmlLayout
@page "/listen"


<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">LISTEN</h1>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="row  d-flex justify-content-center container-video ">
            <div class="col-md-3 d-flex justify-content-center p-3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SuwWLHGQbYw"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-3 d-flex justify-content-center p-3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7ggoL3UUEC4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-3 d-flex justify-content-center p-3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ww1eUeFXDm8"
                        title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-3 d-flex justify-content-center p-3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/CeC_8WV1pdk"
                        title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <div>
        <WebFooter />
    </div>
</body>





@code {

}
