@layout WebHtmlLayout
@page "/roster"

<body class="u-body u-xl-mode">
    <div>
        <WebNav />
    </div>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-palette-2-light-1 u-text-1">SERVING TEAMS</h1>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-1-about" id="sec-1ce2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <iframe class="responsive-iframe" src="https://docs.google.com/spreadsheets/d/1F5fw0FdugNF5y_CZ_2pdQgtKPg-RdiCcOJHSs9J5zsk/edit#gid=1630214446"
                    height="700" width="100%" frameborder="0" marginheight="0" marginwidth="0">
                Loading…
            </iframe>
        </div>
    </section>
    <div>
        <WebFooter />
    </div>
</body>

@code {

}
