
<footer class=" u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-8af9 ">
    <div class="w3-container responsive">
        <div class="col-md-12">
            <div class="row p-3 container-footer ">
                <div class="col">
                    <a href="https://wa.me/27824648527" target="_blank">
                        <i class="fa-brands fa-whatsapp fa-2x"></i>
                    </a>
                    <h6>Whatsapp</h6>
                </div>
                <div class="col">
                    <a href="tel:+27824648527">
                        <i class="fa-solid fa-phone fa-2x"></i>
                    </a>
                    <h6>Call</h6>
                </div>
                <div class="col">
                    <a href="mailto:shelley@dwell.org.za">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                    </a>
                    <h6>Email</h6>
                </div>

                <div class="col">
                    <a href="https://goo.gl/maps/mU23pL6mHUKMbJe88" target="_blank">
                        <i class="fa-solid fa-location-dot fa-2x"></i>
                    </a>
                    <h6>Map</h6>
                </div>
                <div class="col">
                    <a href="giving" target="_blank">
                        <i class="fa-solid fa-credit-card fa-2x"></i>
                    </a>
                    <h6>Giving</h6>
                </div>
                <div class="col">
                    <a href="roster" target="_blank">
                        <i class="fa-solid fa-calendar fa-2x"></i>
                    </a>
                    <h6>Serving</h6>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/channel/UCMgyvesQfJcAhmpun68NQPw" target="_blank">
                        <i class="fa-brands fa-youtube fa-2x"></i>
                    </a>
                    <h6>Youtube</h6>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com/DwellChurch" target="_blank">
                        <i class="fa-brands fa-facebook fa-2x"></i>
                    </a>
                    <h6>Facebook</h6>
                </div>
                <div class="col">
                    <a href="https://instagram.com/dwellchurchsa" target="_blank">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>
                    <h6>Instagram</h6>
                </div>
            </div>
        </div>
        @*<div class="row container-footer">
                <div class="col-md-12 p-3">
                    <a href="https://www.facebook.com/DwellChurch" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://www.youtube.com/channel/UCMgyvesQfJcAhmpun68NQPw" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://instagram.com/dwellchurchsa" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://wa.me/27824648527" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>*@
        @*<div class="row container-footer">
                <div class="col-md-12 p-3">

                </div>
            </div>*@
    </div>
</footer>