
<header class="u-clearfix u-header" id="sec-d360" data-animation-name="" data-animation-duration="0"
        data-animation-delay="0" data-animation-direction="" style="background-color:transparent;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
        <div class="container" style="background-color:transparent;">
            <a href="https://dwell.org.za" class="navbar-brand u-image u-logo u-image-1 dwelllogo" data-image-width="45" data-image-height="88">
                @*<i><img src="./wwwroot/dist/img/images/DwellLogo.png" style="width:100%;" /></i>*@
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white active" href="" Match="NavLinkMatch.All" style="padding: 10px 20px;">Home</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="About" style="padding: 10px 20px;">About</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="Contact" style="padding: 10px 20px;">Contact</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="Engage" style="padding: 10px 20px;">Engage</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="Listen" style="padding: 10px 20px;">Listen</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="Giving" style="padding: 10px 20px;">Give</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white" href="Updates" style="padding: 10px 20px;">Updates</a>
                    </li>
                    <li class="u-nav-item">
                        &nbsp;&nbsp;
                        <a href="https://wa.me/27824648527" target="_blank"><i class="fa-brands fa-whatsapp fa-1x u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white"></i></a>
                    </li>
                    <li class="u-nav-item">
                        &nbsp;&nbsp;
                        <a href="https://www.facebook.com/DwellChurch" target="_blank"><i class="fa-brands fa-facebook  fa-1x u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white"></i></a>
                    </li>
                    <li class="u-nav-item">
                        &nbsp;&nbsp;
                        <a href="https://instagram.com/dwellchurchsa" target="_blank"><i class="fa-brands fa-instagram  fa-1x u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white"></i></a>
                    </li>
                    <li class="u-nav-item">
                        &nbsp;&nbsp;
                        <a href="https://www.youtube.com/channel/UCMgyvesQfJcAhmpun68NQPw" target="_blank"><i class="fa-brands fa-youtube fa-1x u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-2-dark-1 u-text-white"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
</header>










